
::ng-deep .mat-form-field {
  width: 100%;
}

/*input outline color*/
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: gray;
}

/*mat-label normal state style*/
::ng-deep .mat-form-field-label {
  color: gray;
}

/*mat-label focused style*/
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: dodgerblue;
}

/*mat-input focused color*/
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: dodgerblue;
}

/*mat-input caret color*/
::ng-deep .mat-input-element {
  caret-color: dodgerblue;
}

/*mat-input error outline color*/
::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
  color: red;
  opacity: 0.8
}

/*mat-label error style*/
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: red
}

/*mat-input error caret color*/
::ng-deep .mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
  caret-color: red
}
